* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 6rem;
}
:root {
  font-size: 62.5%;
}

.body {
  margin: 3rem;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
  .button {
    //margin-top: 5rem;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 3rem;
  }
  .container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#d9eaf3),
        color-stop(4%, #fff)
      )
      0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;

    .paragraph {
      margin: 0 0 3rem;
    }
  }
  .container:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }
}
